<div class="main-div">

  <mat-card class="z-depth center" flex="50">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <mat-card-header>
        <mat-card-title>
          <button mat-button (click)="goBack()">
            <i class="material-icons">keyboard_backspace</i>
          </button>
          {{pageHeading}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-form-field class="full-width">
            <input matInput placeholder="name" formControlName="name" [(ngModel)]="name" required>
            <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input matInput placeholder="isoCode2" formControlName="isoCode2" [(ngModel)]="isoCode2" required>
            <mat-error *ngIf="formErrors.isoCode2">{{formErrors.isoCode2}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input matInput placeholder="isoCode3" formControlName="isoCode3" [(ngModel)]="isoCode3" required>
            <mat-error *ngIf="formErrors.isoCode3">{{formErrors.isoCode3}}</mat-error>
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">Save</button>
      </mat-card-actions>
    </form>
  </mat-card>

</div>