<div class="main-div">

    <mat-card class="z-depth content-fluid" flex="100">
        <mat-card-header>
            <mat-card-title>
                <button mat-button (click)="goBack()">
                    <i class="material-icons">keyboard_backspace</i>
                </button> {{pageHeading}}
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <mat-horizontal-stepper [linear]="true" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Basic</ng-template>

                        <mat-form-field class="full-width">
                            <input matInput placeholder="vendor" formControlName="vendor" required
                                [matAutocomplete]="vendorAuto" [(ngModel)]="vendor">
                            <input type="hidden" formControlName="vendorId" [(ngModel)]="vendorId">
                            <mat-error *ngIf="formErrors.vendor">{{formErrors.vendor}}</mat-error>
                            <mat-autocomplete #vendorAuto="matAutocomplete" [displayWith]="displayFn"
                                (optionSelected)="onAutoSelectionChanged('vendorId',$event)">
                                <mat-option *ngIf="isLoading" class="is-loading">
                                    <mat-spinner diameter="50"></mat-spinner>
                                </mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let option of vendors" [value]="option">
                                        {{option.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>


                        <mat-form-field class="full-width">
                            <input matInput placeholder="purchase Type" formControlName="purchaseType" required
                                [matAutocomplete]="purchaseTypeAuto" [(ngModel)]="purchaseType">
                            <input type="hidden" formControlName="purchaseTypeId" [(ngModel)]="purchaseTypeId">
                            <mat-error *ngIf="formErrors.purchaseType">{{formErrors.purchaseType}}</mat-error>
                            <mat-autocomplete #purchaseTypeAuto="matAutocomplete" [displayWith]="displayFn"
                                (optionSelected)="onAutoSelectionChanged('purchaseTypeId',$event)">
                                <mat-option *ngIf="isLoading" class="is-loading">
                                    <mat-spinner diameter="50"></mat-spinner>
                                </mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let option of purchaseTypes" [value]="option">
                                        {{option.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput placeholder="purchase Status" formControlName="purchaseStatus" required
                                [matAutocomplete]="purchaseStatusAuto" [(ngModel)]="purchaseStatus">
                            <input type="hidden" formControlName="purchaseStatusId" [(ngModel)]="purchaseStatusId">
                            <mat-error *ngIf="formErrors.purchaseStatus">{{formErrors.purchaseStatus}}</mat-error>
                            <mat-autocomplete #purchaseStatusAuto="matAutocomplete" [displayWith]="displayFn"
                                (optionSelected)="onAutoSelectionChanged('purchaseStatusId',$event)">
                                <mat-option *ngIf="isLoading" class="is-loading">
                                    <mat-spinner diameter="50"></mat-spinner>
                                </mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let option of purchaseStatuses" [value]="option">
                                        {{option.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <textarea matInput placeholder="comment" formControlName="comment" [(ngModel)]="comment"
                                required></textarea>
                            <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
                        </mat-form-field>

                        <div class="button-group">
                            <button mat-raised-button matStepperNext color="primary"
                                (click)="nextProcess()">Next</button>
                        </div>
                    </form>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Products</ng-template>


                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                product section
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>

                            <app-purchase-cart-list [vendorId]="vendorId"></app-purchase-cart-list>

                        </mat-card-content>
                    </mat-card>

                    <div class="button-group">
                        <button mat-raised-button matStepperPrevious color="light">Back</button>
                        <button mat-raised-button matStepperNext color="primary">Next</button>
                    </div>
                </mat-step>


                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    You are now done.
                    <div class="button-group">
                        <button mat-raised-button matStepperPrevious color="light">Back</button>
                        <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">Save</button>
                    </div>
                </mat-step>

            </mat-horizontal-stepper>
        </mat-card-content>
    </mat-card>
</div>