
<br>
<div class="row">
    <div class="col-md-6">
        <mat-card>
            <mat-card-title>
                <mat-icon class="example-icon">account_box</mat-icon> User Module
            </mat-card-title>
            <mat-card-subtitle>manage module here</mat-card-subtitle>
            <mat-card-actions>
                <button mat-raised-button type="button" color="primary" [routerLink]="'/users'">more...</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-md-6">
        <mat-card>
            <mat-card-title>
                <mat-icon class="example-icon">account_box</mat-icon> Product Module
            </mat-card-title>
            <mat-card-subtitle>manage module here</mat-card-subtitle>
            <mat-card-actions>
                <button mat-raised-button type="button" color="primary" [routerLink]="'/products'">more...</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<br>
<div class="row">
    <div class="col-md-6">
        <mat-card>
            <mat-card-title>
                <mat-icon class="example-icon">account_box</mat-icon> Customer Module
            </mat-card-title>
            <mat-card-subtitle>manage module here</mat-card-subtitle>
            <mat-card-actions>
                <button mat-raised-button type="button" color="primary" [routerLink]="'/customers'">more...</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card>
            <mat-card-title>
                <mat-icon class="example-icon">account_box</mat-icon> Order Module
            </mat-card-title>
            <mat-card-subtitle>manage module here</mat-card-subtitle>
            <mat-card-actions>
                <button mat-raised-button type="button" color="primary" [routerLink]="'/orders'">more...</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>