<div class="main-div">

  <mat-card class="z-depth center" flex="50">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <mat-card-header>
        <mat-card-title>
          <button mat-button (click)="goBack()">
            <i class="material-icons">keyboard_backspace</i>
          </button>
          {{pageHeading}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-form-field class="full-width">
          <input matInput placeholder="product" formControlName="product" required [matAutocomplete]="productAuto"
            [(ngModel)]="product">
          <input type="hidden" formControlName="productId" [(ngModel)]="productId">
          <mat-error *ngIf="formErrors.product">{{formErrors.product}}</mat-error>
          <mat-autocomplete #productAuto="matAutocomplete" [displayWith]="displayFn"
            (optionSelected)="onAutoSelectionChanged('productId',$event)">
            <mat-option *ngIf="isLoading" class="is-loading">
              <mat-spinner diameter="50"></mat-spinner>
            </mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let option of products" [value]="option">
                {{option.name}}
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="location" formControlName="location" required [matAutocomplete]="locationAuto"
            [(ngModel)]="location">
          <input type="hidden" formControlName="locationId" [(ngModel)]="locationId">
          <mat-error *ngIf="formErrors.location">{{formErrors.location}}</mat-error>
          <mat-autocomplete #locationAuto="matAutocomplete" [displayWith]="displayFn"
            (optionSelected)="onAutoSelectionChanged('locationId',$event)">
            <mat-option *ngIf="isLoading" class="is-loading">
              <mat-spinner diameter="50"></mat-spinner>
            </mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let option of locations" [value]="option">
                {{option.name}}
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>



        <mat-form-field class="full-width">
          <input matInput placeholder="price" formControlName="price" [(ngModel)]="price" required>
          <mat-error *ngIf="formErrors.price">{{formErrors.price}}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="quantity" formControlName="quantity" [(ngModel)]="quantity" required>
          <mat-error *ngIf="formErrors.quantity">{{formErrors.quantity}}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="text" formControlName="text" [(ngModel)]="text"></textarea>
          <mat-error *ngIf="formErrors.text">{{formErrors.text}}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <select matNativeControl placeholder="type" formControlName="type" [(ngModel)]="type">
            <option *ngFor="let object of types" [value]="object.id">{{object.name}}</option>
          </select>
          <mat-error *ngIf="formErrors.type">{{formErrors.type}}</mat-error>
        </mat-form-field>



      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">Save</button>
      </mat-card-actions>
    </form>
  </mat-card>

</div>