<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-drawer-container class="app-container" autosize>

    <mat-drawer #drawer mode="push" color="primary">
        <mat-toolbar>
            <mat-toolbar-row>
                <span>Admin Dashboard</span>
                <span class="app-toolbar-filler"></span>
                <mat-icon class="example-icon">account_circle</mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>

        <app-admin-sidebar></app-admin-sidebar>

        <mat-list>
            <mat-list-item (click)="drawer.toggle()">
                Close
            </mat-list-item>
        </mat-list>
        
    </mat-drawer>

    <mat-toolbar color="primary">
        <button mat-button class="app-menu-button" (click)="drawer.toggle()">
            <i class="material-icons">menu</i>
        </button>
        <span class="title">{{appTitle}}</span>
        <span class="menu-fill-remaining-space"></span>

        <button mat-button [matMenuTriggerFor]="languageMenu">
            <i class="material-icons">language</i>
        </button>
        <mat-menu #languageMenu="matMenu" xPosition="before">
            <button mat-menu-item>English</button>
            <button mat-menu-item>French</button>
        </mat-menu>



        <button mat-button [matMenuTriggerFor]="accountMenu">
            <i class="material-icons">more_vert</i>
        </button>
        <mat-menu #accountMenu="matMenu" xPosition="before">
            <button mat-menu-item>Edit Account</button>
            <button mat-menu-item>Change Password</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </mat-toolbar>

    <div class="app-content">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>