<div class="main-div">

  <mat-card class="z-depth center" flex="50">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <mat-card-header>
        <mat-card-title>
          <button mat-button (click)="goBack()">
            <i class="material-icons">keyboard_backspace</i>
          </button>
          {{pageHeading}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <p>
          <mat-form-field class="full-width">
            <input matInput placeholder="group" formControlName="group" required [matAutocomplete]="auto"
              [(ngModel)]="group">
            <input type="hidden" formControlName="groupId" [(ngModel)]="groupId">
            <mat-error *ngIf="formErrors.group">{{formErrors.group}}</mat-error>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
              (optionSelected)="onSelectionChanged($event)">
              <mat-option *ngIf="isLoading" class="is-loading">
                <mat-spinner diameter="50"></mat-spinner>
              </mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let option of groups" [value]="option">
                  {{option.name}}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="full-width">
            <input matInput placeholder="name" formControlName="name" [(ngModel)]="name" required>
            <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
          </mat-form-field>
        </p>


      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">Save</button>
      </mat-card-actions>
    </form>
  </mat-card>

</div>