<div class="main-div">

  <mat-card class="z-depth content-fluid" flex="100">
    <mat-card-header>
      <mat-card-title>
        <button mat-button (click)="goBack()">
          <i class="material-icons">keyboard_backspace</i>
        </button>
        {{pageHeading}}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step>
          <ng-template matStepLabel>
            Order Details
          </ng-template>


          <table class="mat-table">
            <tr class="mat-header-row">
              <th class="mat-header-cell">name</th>
              <td class="mat-cell">{{name}}</td>
              <th class="mat-header-cell">order type</th>
              <td class="mat-cell">{{orderType}}</td>
            </tr>
            <tr class="mat-header-row">
              <th class="mat-header-cell">email</th>
              <td class="mat-cell">{{email}}</td>
              <th class="mat-header-cell">order status</th>
              <td class="mat-cell">{{orderStatus}}</td>
            </tr>
            <tr class="mat-header-row">
              <th class="mat-header-cell">contact</th>
              <td class="mat-cell">{{contact}}</td>
              <th class="mat-header-cell">order date</th>
              <td class="mat-cell">{{createdAt}}</td>
            </tr>
            <tr class="mat-header-row">
              <th class="mat-header-cell">person name</th>
              <td class="mat-cell">{{personName}}</td>
              <th class="mat-header-cell">country</th>
              <td class="mat-cell">{{country}}</td>
            </tr>
            <tr class="mat-header-row">
              <th class="mat-header-cell">person contact</th>
              <td class="mat-cell">{{personContact}}</td>
              <th class="mat-header-cell">zone</th>
              <td class="mat-cell">{{zone}}</td>
            </tr>
            <tr class="mat-header-row">
              <th class="mat-header-cell">postcode</th>
              <td class="mat-cell">{{postcode}}</td>
              <th class="mat-header-cell">city</th>
              <td class="mat-cell">{{city}}</td>
            </tr>
          </table>


          <table class="mat-table">
            <tr class="mat-header-row">
              <th class="mat-header-cell">address</th>
              <th class="mat-header-cell">comment</th>
            </tr>
            <tr class="mat-row">
              <td class="mat-cell">{{address}}</td>
              <td class="mat-cell">{{comment}}</td>
            </tr>
          </table>


          <app-order-product-list [products]="products"></app-order-product-list>
          <app-order-total-list [totals]="totals"></app-order-total-list>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>
            <span (click)="getHistory()">
              Order History
            </span>
          </ng-template>
          <app-order-history></app-order-history>
        </mat-step>


      </mat-horizontal-stepper>

    </mat-card-content>
  </mat-card>
</div>