<mat-accordion>

  <div *ngFor="let menu of menuData">

    <mat-expansion-panel *ngIf="menu.chidren">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>{{menu.icon}}</mat-icon>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {{menu.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <div *ngFor="let chidren of menu.chidren">
          <mat-list-item [routerLink]="chidren.link">{{chidren.name}}</mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </mat-expansion-panel>



    <div *ngIf="!menu.chidren">
      <mat-toolbar-row [routerLink]="menu.link">
        &nbsp;&nbsp;&nbsp;
        <mat-icon>{{menu.icon}}</mat-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{menu.name}}</span>
      </mat-toolbar-row>
    </div>

  </div>

</mat-accordion>