<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        User Module
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>User Groups</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Users List</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>User Setting</mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Employee Module
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>add_shopping_cart</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Employee Groups</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Employee List</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Employee Setting</mat-list-item>
    </mat-list>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Product Module
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>business</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Categories</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Products</mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Inventory Module
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>note</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Categories</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Products</mat-list-item>
    </mat-list>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Product Module
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>Categories</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Products</mat-list-item>
      </mat-list>
    </mat-expansion-panel>

  </mat-expansion-panel>

</mat-accordion>