<form [formGroup]="form">
  <mat-form-field class="full-width">
    <input matInput placeholder="product" formControlName="product" required [matAutocomplete]="productAuto"
      [(ngModel)]="product">
    <input type="hidden" formControlName="productId" [(ngModel)]="productId">
    <mat-error *ngIf="formErrors.product">{{formErrors.product}}</mat-error>
    <mat-autocomplete #productAuto="matAutocomplete" [displayWith]="displayFn"
      (optionSelected)="onAutoSelectionChanged('productId',$event)">
      <mat-option *ngIf="isLoading" class="is-loading">
        <mat-spinner diameter="50"></mat-spinner>
      </mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let option of products" [value]="option">
          {{option.name}}
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="price" formControlName="price" [(ngModel)]="price" required>
    <mat-error *ngIf="formErrors.price">{{formErrors.price}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="quantity" formControlName="quantity" [(ngModel)]="quantity" required>
    <mat-error *ngIf="formErrors.quantity">{{formErrors.quantity}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="tax" formControlName="tax" [(ngModel)]="tax" required>
    <mat-error *ngIf="formErrors.tax">{{formErrors.tax}}</mat-error>
  </mat-form-field>

  <button mat-raised-button (click)="onCartSubmit()" color="primary">Add</button>
</form>


<!-- cart list -->
<table mat-table [dataSource]="carts">
  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef>product</th>
    <td mat-cell *matCellDef="let element"> {{element.product}} </td>
  </ng-container>
  <ng-container matColumnDef="product_image">
    <th mat-header-cell *matHeaderCellDef>image</th>
    <td mat-cell *matCellDef="let element">
      <img width="50" height="50" src="{{element.product_image}}" />
    </td>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>quantity</th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>price</th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>
  <ng-container matColumnDef="tax">
    <th mat-header-cell *matHeaderCellDef>tax</th>
    <td mat-cell *matCellDef="let element"> {{element.tax}} </td>
  </ng-container>
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>total</th>
    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let row">
      <button mat-button (click)="deleteCart(row)">
        <i class="material-icons">delete</i>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="cartDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: cartDisplayedColumns;"></tr>
</table>
<!-- end cart list -->



<table mat-table [dataSource]="totals">

  <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element"> {{element.text}} </td>
  </ng-container>
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['text','value']"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: ['text','value']"></tr>
</table>

<!-- end cart total -->