<div class="main-div">

  <mat-card class="z-depth center" flex="50">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <mat-card-header>
        <mat-card-title>
          <button mat-button (click)="goBack()">
            <i class="material-icons">keyboard_backspace</i>
          </button>
          {{pageHeading}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-form-field class="full-width">
            <input matInput placeholder="type" formControlName="type" required [matAutocomplete]="auto"
              [(ngModel)]="type">
            <input type="hidden" formControlName="typeId" [(ngModel)]="typeId">
            <mat-error *ngIf="formErrors.type">{{formErrors.type}}</mat-error>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
              (optionSelected)="onSelectionChanged($event)">
              <mat-option *ngIf="isLoading" class="is-loading">
                <mat-spinner diameter="50"></mat-spinner>
              </mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let option of types" [value]="option">
                  {{option.name}}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input matInput placeholder="name" formControlName="name" [(ngModel)]="name" required>
            <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
          </mat-form-field>
        </p>

        <p>
          <button type="button" mat-button (click)="addImage()">Add Image</button>
        </p>


        <mat-card formArrayName="images">
          <mat-card-title>Images</mat-card-title>
          <mat-divider></mat-divider>
          <div *ngFor="let control of formData; let i = index;">
            <div [formGroupName]="i">


              <div (click)="imageInput.click()">
                <img src="{{control.value.image_thumb}}" width="100" height="100" />
                <input #imageInput type="file" accept="image/*" (change)="uploadImage($event,control)"
                  style="display:none">
              </div>

              <mat-form-field class="full-width">
                <input matInput placeholder="image" formControlName="image" required>
                <mat-error *ngIf="formErrors.image">{{formErrors.image}}</mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput placeholder="name" formControlName="name" required>
                <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput placeholder="link" formControlName="link" required>
                <mat-error *ngIf="formErrors.link">{{formErrors.link}}</mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput placeholder="sort_order" formControlName="sort_order" required>
                <mat-error *ngIf="formErrors.sort_order">{{formErrors.sort_order}}</mat-error>
              </mat-form-field>

              <button type="button" mat-button (click)="delImage(i)">delete</button>


            </div>
            <br />
          </div>
        </mat-card>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">Save</button>
      </mat-card-actions>
    </form>
  </mat-card>

</div>