<div class="main-div">

  <mat-card class="z-depth center" flex="50">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <mat-card-header>
        <mat-card-title>
          <button mat-button (click)="goBack()">
            <i class="material-icons">keyboard_backspace</i>
          </button>
          {{pageHeading}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div (click)="imageInput.click()">
          <img src="{{imageThumb}}" width="100" height="100" />
          <input #imageInput type="file" accept="image/*" (change)="uploadImage(imageInput)" style="display:none">
        </div>


        <mat-form-field class="full-width">
          <input matInput placeholder="image" formControlName="image" [(ngModel)]="image" required>
          <mat-error *ngIf="formErrors.image">{{formErrors.image}}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="name" formControlName="name" [(ngModel)]="name" required>
          <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
        </mat-form-field>

        <section class="full-width">
          <mat-slide-toggle color="primary" formControlName="mobileMenu" [(ngModel)]="mobileMenu">
            mobileMenu
          </mat-slide-toggle>
        </section>

        <section class="full-width">
          <mat-slide-toggle color="primary" formControlName="top" [(ngModel)]="top">
            top
          </mat-slide-toggle>
        </section>

        <section class="full-width">
          <mat-slide-toggle color="primary" formControlName="bottom" [(ngModel)]="bottom">
            bottom
          </mat-slide-toggle>
        </section>

        <mat-form-field class="full-width">
          <input matInput placeholder="sortOrder" formControlName="sortOrder" [(ngModel)]="sortOrder" required>
          <mat-error *ngIf="formErrors.sortOrder">{{formErrors.sortOrder}}</mat-error>
        </mat-form-field>


      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">Save</button>
      </mat-card-actions>
    </form>
  </mat-card>

</div>