/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

body {
    margin: 0;
}

.menu-fill-remaining-space {
  flex: 1 1 auto;
}

.mat-drawer-container {
    position: inherit !important;    
}