/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

.menu-fill-remaining-space {
  flex: 1 1 auto;
}

.mat-drawer-container {
    position: inherit !important;    
}

.center{  
  width: 50%;
  margin: 10px auto;
}

.main-div{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

table {
  width: 100%;
}